* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('vo1jDf.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.initial{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 200px;
    align-items: center;
    color: #fff;
    font-size: 34px;
    margin-left: 400px;
    background: transparent;
    backdrop-filter: blur(80px);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 9px;
    padding: 20px;
    padding-top: 40px;
}

.Login{
    width: 120px;
    height: 60px;
    font-size: 28px;
    color: #1d1d1d;
    background: rgb(10, 195, 228);   
    border: 2px solid transparent;
    border-radius: 50px;
    margin-top: 20px;
}

.Login:hover{
    opacity: 0.7;
    transition: 0.2s;
}

.Login:active{
    background: transparent;
}

.wrapper{
    display: flex;
    position: relative;
    width: 430px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
    transform: scale(0);
}

.wrapper.active-popup{
    transform: scale(1);
    transition: .3s;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h1,h2{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 36px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.button:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.button:active{
    background-color: transparent;
    transition: 0.15s;
}

.register-link, .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.login-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover{
    text-decoration: underline;
}
